<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>literal Page</h1>
<ul>
    <li>[[${'hello' + 'world'}]]</li>
    <li>[[${'hello world'}]]</li>
    <li><b th:text="'hello world'+${data}"></b></li>
    <li>[[${'hello          '+ data }]]</li>
    <li><b th:text="|hello ${data}|"></b></li>

</ul>
</body>
</html>